*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
    background-size: cover; 
}
.container{
    width: 420px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 30px 40px;
    border:none;
}
.container h1{
    text-align: center;
    color:  #000dff;

    font-weight: bold;
}
.container .input{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    
}
.input input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    color: black;
    border-radius: 5px;
    padding-left: 20px;
    box-shadow: 0 2px 6px rgba(4, 53, 103, 0.4);

}
.input input::placeholder{
    color: black;

}
.container .button{
    width: 100%;
    height: 45px;
    border-radius: 0px;
    border: none;
    outline: none;
    font-size: 15px;
}
.container button{
    background-color:  #000dff;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 6px rgba(4, 53, 103, 0.4);
}
.button:hover{
    background-color: #000568;
    transition-duration: .7s;
    color: white;
}
.container .login{
    text-align: center;
    padding-left: 20px;
    padding-bottom: 3px;
}
.container .text_box{
    text-align: center;
}